<div class="container videos">
  <div class="row">
    <% @videos.each do |video| %>
    <div class="col-xs-6">
      <a href="<%= video.play_url + '?title=' + video.title %>" class="video-item">
        <%= image_tag video.cover.url %>
        <p class="name"><%= video.title %></p>
      </a>
    </div>
    <% end %>
  </div>
</div>