<div class="container videos">
  <div class="row">
    <% @videos.each do |video| %>
    <div class="col-xs-6">
      <a href="<%= video.play_url + '?title=' + video.title %>" class="thumbnail video-item-1">
        <%= image_tag video.cover.url %>
        <div class="caption">
          <h3><%= video.title %></h3>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>