<div class="container">
  <div class="row">
    <% @videos.each do |video| %>
    <div class="col-sm-6">
      <%= image_tag video.cover.url %>
      <p class="name"><%= video.title %></p>
    </div>
    <% end %>
  </div>
</div>