@import "bootstrap-sprockets";
@import "bootstrap";

$main-theme: rgb(111, 197, 184);

body {
  background-color: rgb(247,247,247);
//  padding-top: 60px;
}

img {
  max-width: 100%;
}

p, h2 {
  margin: 0;
  padding: 0;
}

.center-box {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  text-align: center;
}

.videos {
  padding: 15px 0;
//  .col-xs-6 {
//    padding-left: 8px;
//    padding-right: 8px;
//  }
}

.video-item {
  display: block;
  width: 100%;
  text-align: center;
  color: #333;
  padding-bottom: 15px;
  img {
    max-width: 100%;
  }
  
  text-decoration: none;
  
  .name {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
  }
}
